h1 {
  a {
  background: url(../images/logo2.svg)no-repeat center center;
  background-size: contain;
  display: block;
  height: 24px;
  width: 24px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  @include pc {
    background: url(../images/logo.svg)no-repeat center center;
    background-size: contain;
    height: 42px;
    width: 174px;
  }
}
}

.decoration-line {
  height: 2px;
  top:83px;
    @include pc{
      top:100%;
    }
}

.nav-link {
  &:hover {
    @include pc{
      transform: translateY(-3px);
      transition: 0.3s;
    }
  }
  &:focus {
    color: $green !important;
  }
}

footer{
  color: #909090;
  padding: 16px 0;
  font-size: 12px;
  line-height: 14px;
  @include pc{
    padding: 24px 0;
    font-size: 16px;
    line-height: 19px;
  }
}

.keyview{
  background: url(../images/bg_home_mobile.jpg)no-repeat center center;
  background-size: cover;
  margin-top: 83px;
  height: 336px;
  width: 100%;
    @include pc{
      margin-top: 90px;
      background: url(../images/bg_home.jpg)no-repeat center center;
      background-size: cover;
      height: 100vh;
    }
}

.slogan{
  background-color: $dark20;
  padding: 32px 28px;
    @include pc{
      padding: 51px 86px;
    }
    h2{
      font-size: 24px;
      line-height: 35px;
      &:nth-child(1){
        line-height: 24px;
      }
      @include pc{
        font-size: 48px;
        line-height: 70px;
        &:nth-child(1){
          line-height: 48px;
        }
      }
    }
    h3{
      font-size: 14px;
      line-height: 20px;
      @include pc {
        font-size: 18px;
        line-height: 26px;
        }
    }
    &::after{
      content: '';
      display: inline-block;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border: 10px solid;
      border-image: linear-gradient($white, $white) 100%;
      position: absolute;
      top: -5px;
      left: -5px;
    }
}

.modal-content{
  padding-top: 8px;
  padding-bottom: 48px;
}

.modal-header{
  button{
    top:16px;
    right: 16px;
  }
}

label{
  list-style-type: none;
}

input{
  border-radius: 4px;
  padding: 8px 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow:0 0 0 100px $deep-dark inset; 
  -webkit-text-fill-color: #C1C1C1;
}

.memberlogin.modal-dialog{
  max-width: 636px;
}

.btn-login{
  display: block;
  border-radius: 8px;
  padding: 8px 0;
  border: 0px;
  color: white;
  width: 100%;
  @include gradient(97deg);
  &:hover{
    background: linear-gradient(90deg, $blue, $green, $blue);
  }
}

#MemberLogin{
  .social-icon{
    width: 24px;
    height: 24px;
    margin-right: 32px;
    @include pc{
      position: absolute;
      left: 32px;
      margin-right: auto;
    }
  }
}

.orderlogin{
  button{
    &:nth-child(1){
      margin-top: 16px;
    }
    padding: 8px 32px;
  } 
}

.decoration-block{
  .left-line, 
  .right-line {
    width: 30.9%;
    height: 1px;
    background-color: #C1C1C1;
  }
  .text-block{
    font-size: 1rem;
    color: #C1C1C1;
    background-color: $deep-gray;
    white-space: nowrap;
  }
}

.title-block{
  h2{
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    @include pc{
      font-size: 28px;
      line-height: 40px;
      text-align-last: left;
    }
  }
  &-center{
    text-align: center;
    h2, span{
      font-size: 24px;
      line-height: 35px;
      @include pc{
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
}

.decoration-underline{
  display: inline-block;
  width: 50px;
  height: 0;
  margin-top: 13px;
}

.service-card{
  .decoration-underline{
    border-bottom: 3px solid $green;
    width: 70px;
    @include pc{
      border-bottom: 3px solid white;
      width: 50px;
    }
  }
}

.material-icons-gradient {
  @include gradient(180deg);
  background-clip:text;
  color:transparent;
  @include pc{
    color: white;
  }
}

.material-icons-sm{
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: $green;
  opacity: 1;
  @include pc{
    color: white;
    opacity: 0.5;
  }
}

.material-icons-swiper{
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: $green;
}

.feature-list-card{
  .list-wrap{
    background-color: $dark20;
    @include pc{
      background: transparent;
      border: 1px solid transparent;
      opacity: 0.5;
    }
    &:hover{
      @include pc{
        background-color: $dark20;
        border: 1px solid $green;
        opacity: 1;
        & .material-icons-gradient{
            color: transparent;
        }
      }
    }
  }
}

.num-block{
  left: 40px;
}

.step{
  .title-block-center{
    margin-bottom: 74px;
  }
}

.program-list{
  animation: marquee 80s linear infinite;
}
.program-list2{
  animation: marquee2 80s linear infinite;
  animation-delay: -40s;
}

// .program-list, .program-list2{
//   animation-play-state: paused;
// }

@keyframes marquee {
  from{
      transform:translateX(100%);
  }
  to{
      transform:translateX(-100%);
  }
}

@keyframes marquee2{
  from{
      transform:translateX(0%);
  }
  to{
      transform:translateX(-200%);
  }
}


.hot-class{
  .card{
    border: 1px solid transparent;
    &:hover{
      border: 1px solid $green;
    }
  }
}

.class-description{
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 22px 22px 24px 22px;
}

.btn-class-list{
  display: inline-block;
  @include gradient(104deg);
  padding: 8px 32px;
  border-radius: 8px;
  &:hover{
    color: white;
    background: linear-gradient(90deg, $blue, $green, $blue);
  }
}

.service-list{
  .service-card{
    &:nth-child(1){
      background: linear-gradient(rgba(28, 28, 28, 0.9), rgba(28, 28, 28, 0.9)), 
      url(../images/info01.jpg)no-repeat center center;
      background-size: cover;
      &:hover{
        background: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0)), 
        url(../images/info01.jpg)no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(2){
      background: linear-gradient(rgba(28, 28, 28, 0.9), rgba(28, 28, 28, 0.9)), 
      url(../images/info02.jpg)no-repeat center center;
      background-size: cover;
      &:hover{
        background: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0)), 
        url(../images/info02.jpg)no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(3){
      background: linear-gradient(rgba(28, 28, 28, 0.9), rgba(28, 28, 28, 0.9)), 
      url(../images/info03.jpg)no-repeat center center;
      background-size: cover;
      &:hover{
        background: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0)), 
        url(../images/info03.jpg)no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(4){
      background: linear-gradient(rgba(28, 28, 28, 0.9), rgba(28, 28, 28, 0.9)), 
      url(../images/info04.jpg)no-repeat center center;
      background-size: cover;
      &:hover{
        background: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 0)), 
        url(../images/info04.jpg)no-repeat center center;
        background-size: cover;
      }
    }
  }
}

.service-card{
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  @include pc{
    height: 615px;
    padding-right: 48px;
    padding-left: 48px;
    &:hover{
      .material-icons-sm{
        color: $green;
        opacity: 1;
      }
      .decoration-underline{
        border-bottom: 3px solid $green;
        width: 70px;
        transition: .25s;
      }
      h4, 
      .service-slogan{
        opacity: 1;
        text-shadow: 1px 2px 2px rgba(28, 28, 28, 0.9);
      }
    }
  }
}

.square{
  width: 32px;
  height: 32px;
  opacity: 0;
  &-tl{
      border-top-left-radius: 16px;
      border-top: 1px solid $green;
      border-left: 1px solid $green;
  }
  &-tr{
      border-top-right-radius: 16px;
      border-top: 1px solid $green;
      border-right: 1px solid $green;
  }
  &-bl{
      border-bottom-left-radius: 16px;
      border-bottom: 1px solid $green;
      border-left: 1px solid $green;
  }
  &-br{
      border-bottom-right-radius: 16px;
      border-bottom: 1px solid $green;
      border-right: 1px solid $green;
  }
}

.card:hover{
  .square{
      opacity: 1;
  }
}

.experience{
  background: url(../images/bg_share.jpg)no-repeat center center;
  background-size: cover;
}
.swiper{
  width: 100%;
  height: auto;
  @include pc{
    height: 429px;
  }
  &-img{
    position: relative;
    border-radius: 24px;
    width: calc(100% - 5px);
    height: 213px;
    left: 5px;
    margin-bottom: 40px;
    @include pc{
      position: absolute;
      width: 60%;
      height: 90%;
      top: 0px;
      left: 10px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      top: 5px;
      left: -5px;
      z-index: -1;
      @include pc{
        top: 10px;
        left: -10px;
      }
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  }
  .card{
    color: #494755;
    border-radius: 24px 24px 24px 0;
    position: relative;
    width: 100%;
    padding: 24px;
    margin-bottom: 32px;
    @include pc{
      width: 45%;
      padding: 32px;
      bottom: 0;
      right: 0;
      position: absolute;
      margin-bottom: 0;
    }
  }
}

.swiper-pagination{
  position: unset;
  width: auto;
  &-bullet{
    background-color: $green;
    opacity: initial;
    &-active{
      width: 16px;
      border-radius: 50px;
    }
  }
}
.swiper-pagination-horizontal{
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  &::after{
    content: '';
  }
}

.student-photo{
  position: absolute;
  object-fit: cover;
  width: 80px;
  height: 80px;
  top: -30px;
  right: 24px;
  @include pc{
    top: 0;
    right: 32px;
    bottom: 100%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
  }
}

.swiper-button{
  @include pc{
    bottom: 0;
    left: 30%;
    transform: translate(-50%, 25%);
    z-index: 10;
    position: absolute;
  }
  &-prev,
  &-next {
    position: unset;
    margin-top: 0;
  }
}

.join-us{
  p{
    @include pc{
      font-size: 18px;
      line-height: 26px;
    }
  }
}