
.bg-gradient {
    &-180{
        @include gradient(180deg);
    }
    &-104{
        @include gradient(104deg);
    }
    &-102{
        @include gradient(102deg);
    }
    &-97{
        @include gradient(97deg);
    }
    &-96{
        @include gradient(96deg);
    }
}
    
.text-clip {
    background-clip: text;
    color: transparent;
}

.text-light-gray{
    color: #C1C1C1;
}



